{# templates/web_article/create.html.twig #}
{% block stylesheets %}
    {# Add the link to your custom CSS file here #}
    <link rel="stylesheet" href="{{ asset('css/article-form.css') }}">
{% endblock %}

{% block body %}
        <h1>Create Article</h1>

        {{ form_start(form, {'attr': {'class': 'article-form'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn-primary">Submit</button>
        {{ form_end(form) }}
    
{% endblock %}
