{% block stylesheets %}
    {# Add the link to your custom CSS file here #}
    <link rel="stylesheet" href="{{ asset('css/article-form.css') }}">
{% endblock %}


{% block body %}
    <h1>Update Article</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
