/* public/css/article-details.css */

.article-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.article-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
}

.article-content {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap to the next line */
}

.text-container {
    max-width: calc(40% - 20px); /* Adjust the width while considering the left margin */
    overflow: hidden;
}

.article-body {
    max-width: 100%; /* Allow the text to take full width on smaller screens */
    margin-left: 0; /* Remove the left margin to better adapt to the responsive layout */
}

.figure {
    text-align: center;
}

figure img {
    max-width: 100%; /* Make the image responsive within its container */
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.article-details-list {
    list-style-type: none;
    padding: 0;
}

.article-details-list li {
    margin-bottom: 10px;
    color: #777;
}

.article-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.modify-button,
.delete-button {
    width: 48%;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
}

.btn-danger {
    background-color: #e74c3c;
    color: #fff;
}


