/* article-form.css */

.article-form-container {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 800px;
    width: 100%;
}

body {
    background-color: #34495e; /* Darker background color */
    color: #ecf0f1;
    font-family: 'Arial', sans-serif; /* Set a common font family */
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 2px solid #bdc3c7; /* Slightly thicker border */
    border-radius: 8px;
    padding: 15px; /* Increased padding for input fields */
    width: 100%; /* Full width for better responsiveness */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.back-button a {
    text-decoration: none;
}

.btn-primary {
    background-color: #e74c3c; /* Red submit button */
    color: #fff; /* White text for better visibility */
    border: 2px solid #c0392b; /* Darker red border */
    border-radius: 8px;
    padding: 15px 30px; /* Adjusted padding for the submit button */
    display: block;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px; /* Slightly increased margin for labels */
    color: #555;
}

h1 {
    color: #3498db; /* Blue heading color */
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Choose a file';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 2px solid #999;
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: 12pt; /* Slightly increased font size */
}
img {
    width: 100% !important;
    height: auto !important;
    border-radius: 8px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}
.custom-file-input:hover::before {
    border-color: #988787; /* Darker border color on hover */
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
