<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Link to your CSS file directly #}
    <link rel="stylesheet" href="{{ asset('css/styleH.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# Include other stylesheets or meta tags as needed #}
</head>
<body>
    {% block body %}{% endblock %}

    {# Link to your JS file directly #}
<script src="{{ asset('build/app.js') }}"></script>
    {# Include other scripts or libraries as needed #}
</body>
</html>
